<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="scripts/plotly-latest.min.js"></script>
        <script src="https://kit.fontawesome.com/3eb3cf8617.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:100,300&display=swap" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" type="text/css" href="css/styles_v1.0.css">
        <title>SSY Metals &amp; Bulks Research Strategy</title>
        <meta name="description" content="{{ title }}">
        <meta property="og:image" content="img/logo_symbol.png">
        <link rel="icon" href="img/ssy_favicon.png">
    </head>
    <body>
        <nav>
            <div class="row">
                <img class="logo" src="img/ssy_logo.svg">
                <!--  example button for future <a href="#">Home</a> -->
            </div>
        </nav>
        <div class="content">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="row">
                <ul class="footer-nav">
                    <li><a href="https://ssyonline.com/client-tscs/">Website T&amp;Cs</a></li>
                    <li><a href="https://ssyonline.com/client-tscs/">Client T&amp;Cs</a></li>
                    <li><a href="https://ssyonline.com/registered-offices/">Offices</a></li>
                </ul>
            </div>
            <div class="row">
                <ul class="copyright">
                    <li>SSY Futures Ltd.</li>
                    <li>&copy; 2020 Simpson Spence Young</li>
                </ul>
            </div>
            <div class="row">
                <ul>
                    <p>SSY Futures Ltd is authorised and regulated by The UK Financial Conduct Authority (FCA) and the NFA.</p>
                    <p>The information contained in this report is for information purposes only and should not be seen as a trading recommendation or a solicitation of trade.</p>
                    <p>Whilst every care has been taken to ensure that the information in this publication is accurate, SSY Futures Ltd. can accept no responsibility for any errors or omissions or any consequences arising therefrom. Figures are based on the latest available information, which is subject to subsequent revision and correction. The views expressed are those of SSY Futures Ltd. and do not necessarily reflect the views of any other associated company. Re-producing any material from this report without permission from SSY is strictly prohibited.</p>
                </ul>
            </div>
        </footer>
    </body>
</html>