<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://kit.fontawesome.com/3eb3cf8617.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:100,300&display=swap" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <title>SSY Metals &amp; Bulks Research Strategy</title>
        <link rel="icon" href="img/ssy_favicon.png">
    </head>
    <body>
        <nav>
            <div class="row">
                <img class="logo" src="img/ssy_logo.svg">
                <!--  example button for future <a href="#">Home</a> -->
            </div>
        </nav>
        <div class="content">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="row">
                <ul class="footer-nav">
                    <li><a href="https://ssyonline.com/client-tscs/">Website T&amp;Cs</a></li>
                    <li><a href="https://ssyonline.com/client-tscs/">Client T&amp;Cs</a></li>
                    <li><a href="https://ssyonline.com/registered-offices/">Offices</a></li>
                </ul>
            </div>
            <div class="row">
                <ul class="copyright">
                    <li>&copy; 2020 Simpson Spence Young</li>
                    <li>&reg; Simpson Spence Young is a registered trademark</li>
                </ul>
            </div>
        </footer>
    </body>
</html>